<!DOCTYPE html>
<html xmlns:th="">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	링크 표현식
	<a href="http://naver.com">naver</a>
	- 다른 사이트로 이동 시 사용
	<p><a th:href="@{http://naver.com}" th:text="naver"></a></p>
	-기본 URL 설정 방법
	<p><a th:href="@{/th/main}" th:text="main"></a></p>
	- URL에 변수 표현식 사용 시에 반드시 앞,뒤로 파이프바(|)로 감싸줘야 한다. / 변수 앞,뒤x 링크표현식 앞,뒤o
	<p><a th:href="@{|/th/${data}|}" th:text="main"></a></p>
	- URL에 파라미터를 설정하는 기본 방식
	<p><a th:href="@{main?id=java&pw=1234}" th:text="main"></a></p>
	- URL의 {kkk} 부분에 대입 할 변수를 처리하는 방식
	<p><a th:href="@{/th/{kkk}(kkk=${data})}" th:text="main"></a></p>
	- URL의 {kkk} 부분이 (kkk=${data})으로 값이 대입되고, id=${'java'} 부분이 파라미터로 적용된다.
	<p><a th:href="@{/th/{kkk}(kkk=${data}, id=${'java'})}" th:text="main"></a></p>
	<p><a th:href="@{/{k1}/{k2}(k1=${'th'}, k2=${data}, id=${'java'})}" th:text="main"></a></p>
</body>
</html>